<!DOCTYPE html>
<head>
  <title>{{ title}}</title>
</head>

<body>
  <h1>Autonomous Irrigation Information</h1>
  <h2>The server's date and time is {{ time }}</h2>
  <h2> {{ text }} </h2>
  <a href="/auto/water/ON"><button> Turn ON autonomous watering </button></a>
  <a href="/auto/water/OFF"><button> Turn OFF autonomous watering </button></a>
  <a href="/sensor"><button> Check soil moisture </button></a> <br>
  <a href="/water"><button> Water the plant </button></a>
  <a href="/lastWatered"><button> Check last watered </button></a>
</body>
</html> 
